:root{
    --pixel-size:2; /*for every pixel, show it x times larger than it already is*/
}

body{
    background: #fffefe
  }

.Character{
    width: calc(256px * var(--pixel-size));
    height: calc(1024px * var(--pixel-size));
    /* background-color: wheat; */
    overflow:hidden;
    position: relative;
    margin: 0 auto;
}
/*
steps allows it to do the animation in steps
*/

.Character_spritesheet{
    animation: moveSpritesheet 1.5s steps(4) infinite;
    width: calc(1024px * var(--pixel-size));
    position:absolute;
}

.Character_shadow {
    position: absolute;
    width: calc(52px * var(--pixel-size));
    height: calc(75px * var(--pixel-size));
 }

.pixelart{
    image-rendering: pixelated;
}

@keyframes moveSpritesheet{
    from{
        transform: translate3d(0px, 0, 0)
    }
    to{
        transform: translate3d(-100%, 0,0)
    }
}